
body{
    text-align: center;
    background-color: #0d0d0d;
    margin-top: 15rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    color: #d0d0d0;
}
p{
    color: #0c74eb;
}
h3{
    color: #a8a6a6;
}
